.btn {
  border-radius: 6px;
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(255,255,255);
  border-color: rgb(255,255,255);
  background: var(--bs-emphasis-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn:hover {
  color: rgb(255,255,255);
  background: var(--swiper-theme-color);
  border-color: var(--swiper-theme-color);
  transition: ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

